// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2022 Arm Ltd.

#include <dt-bindings/interrupt-controller/irq.h>

/dts-v1/;

#include "sun8i-t113s.dtsi"
#include "sunxi-d1s-t113-mangopi-mq-r.dtsi"

/ {
	model = "LLZ T113 V1";
	compatible = "widora,mangopi-mq-r-t113", "allwinner,sun8i-t113s";

	chosen {
		stdout-path = "serial3:115200n8";
		bootargs = "root=/dev/mmcblk0p2 rootwait rw";
	};

	aliases {
		/* ethernet0 = &rtl8189ftv; */
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
		serial5 = &uart5;
		i2c2 = &i2c2;
		watchdog0 = &max823;
		watchdog1 = &wdt;
	};

	leds {
		/delete-node/ led-0;

		led-0 {
			gpios = <&pio 3 13 GPIO_ACTIVE_HIGH>;
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_HEARTBEAT;
			linux,default-trigger = "heartbeat";
		};
	};

	rfkill_wifi {
		compatible = "rfkill-gpio";
		label = "rfill-sdio-wlan";
		radio-type = "wlan";
		shutdown-gpios = <&pio 6 14 GPIO_ACTIVE_HIGH>;
	};

};

&cpu0 {
	cpu-supply = <&reg_vcc_core>;
};

&cpu1 {
	cpu-supply = <&reg_vcc_core>;
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins>;
	status = "okay";

	spinand0: spinand@0 {
		compatible = "spi-nand";
		reg = <0>;
		status = "okay";
	};
};

&mmc1 {
	/delete-property/ mmc-pwrseq;

	ap6212: wifi@1 {
		compatible = "ap6212";
		reg = <1>;
		interrupt-parent = <&pio>;
		interrupts = <6 10 IRQ_TYPE_LEVEL_LOW>; /* PG10 = WL_WAKE_AP */
		interrupt-names = "host-wake";
	};
};

&emac {
	pinctrl-names = "default";
	pinctrl-0 = <&rmii_pe_pins>;
	status = "okay";
	phy-mode = "rmii";
	phy-handle = <&ext_rmii_phy1>;
	/* phy-supply = <&reg_dc1sw>; */
};

&mdio {
	ext_rmii_phy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pb_pins>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pb_pins>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pb_pins>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pg_pins>;
	rts-gpios = <&pio 6 9 GPIO_ACTIVE_LOW>;
	/* rs485-rts-active-low; */
	linux,rs485-enabled-at-boot-time;
	/* rs485-rts-delay = <1 1>; */
	status = "okay";
};

&pio {
	/omit-if-no-ref/
	uart3_pb_pins: uart3-pb-pins {
		pins = "PB6", "PB7";
		function = "uart3";
	};

	uart1_pg_pins: uart1-pg-pins {
		pins = "PG6", "PG7";
		function = "uart1";
	};

	/omit-if-no-ref/
	uart4_pb_pins: uart4-pb-pins {
		pins = "PB2", "PB3";
		function = "uart4";
	};

	/omit-if-no-ref/
	uart5_pb_pins: uart5-pb-pins {
		pins = "PB4", "PB5";
		function = "uart5";
	};

	/omit-if-no-ref/
	i2c2_pe_pins: i2c2-pe-pins {
		pins = "PE12", "PE13";
		function = "i2c2";
	};

	/omit-if-no-ref/
	pwm7_pins: pwm7-pins {
		pins = "PD22";
		function = "pwm7";
	};

	/omit-if-no-ref/
	uart0_pe_pins: uart0-pe-pins {
		pins = "PE2", "PE3";
		function = "uart0";
	};

	/omit-if-no-ref/
	uart1_pe_pins: uart1-pe-pins {
		pins = "PE10", "PE11";
		function = "uart1";
	};

	/omit-if-no-ref/
	uart4_pe_pins: uart4-pe-pins {
		pins = "PE4", "PE5";
		function = "uart4";
	};
};

&rtc {
	status = "disabled";
};
&wdt {
	status = "okay";
};

&de {
	status = "okay";
};

&mixer0 {
	status = "okay";
};

&tcon_top {
	status = "okay";
};

&tcon_lcd0 {
	status = "okay";
};

/ {
	backlight: lvds-backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 7 5000000 0>;
		pwm-names = "backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pwm7_pins>;
		brightness-levels = <0 100>;
		num-interpolated-steps = <100>;
		default-brightness-level = <50>;
	};

	max823: max823-watchdog {
		compatible = "linux,wdt-gpio";
		gpios = <&pio 2 2 GPIO_ACTIVE_LOW>;
		hw_algo = "toggle";
		hw_margin_ms = <1600>;
	};

	panel_lvds: panel-lvds {
		compatible = "panel-lvds";
		pinctrl-names = "default";
		pinctrl-0 = <&lvds0_pins>;
		enable-gpios = <&pio 3 20 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pio 3 21 GPIO_ACTIVE_HIGH>;
		width-mm = <246>;
		height-mm = <184>;
		data-mapping = "vesa-24";
		backlight = <&backlight>;

		panel-timing {
			clock-frequency = <45000000>;
			hactive = <1024>;
			vactive = <600>;
			hback-porch = <88>;
			hfront-porch = <40>;
			vback-porch = <21>;
			vfront-porch = <12>;
			hsync-len = <48>;
			vsync-len = <11>;
		};

		port@0 {
			panel_in: endpoint@0 {
				remote-endpoint = <&tcon_lcd0_out_lvds>;
			};
		};

	};
};

&tcon_lcd0_out {
	tcon_lcd0_out_lvds: endpoint@0 {
		remote-endpoint = <&panel_in>;
	};
};


&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pe_pins>;
	clock-frequency = <400000>;

	gt911: gt911@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		interrupt-parent = <&pio>;
		irq-gpios = <&pio 4 10 GPIO_ACTIVE_HIGH>;
		touchscreen-size-x = <1024>;
		touchscreen-size-y = <600>;
		interrupts = <4 10 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&pio 4 11 GPIO_ACTIVE_HIGH>;
		wakeup-source;
	};

	aip8563: aip8563@51 {
		compatible = "nxp,pcf8563","aiptek,aip8563";
		reg = <0x51>;
	};
};

&pwm {
	status = "okay";
};

/*
* - HP
* - LINEIN
* - MIC3
* - MBIAS
* - Headphone
* - Headset Mic
* - Line In
* - Line Out
* - Mic
* - Speaker
*/
&codec {
	status = "okay";
	allwinner,audio-routing =
		"Headphone","HP",
		"Speaker", "HP";

	allwinner,pa-gpios = <&pio 6 10 GPIO_ACTIVE_HIGH>;
};

&codec_analog {
	status = "okay";
};
