// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2022 Arm Ltd.

#include <dt-bindings/interrupt-controller/irq.h>

/dts-v1/;

#include "sun8i-t113s.dtsi"
#include "sunxi-d1s-t113-mangopi-mq-r.dtsi"

/ {
	model = "LLZ T113 V1";
	compatible = "widora,mangopi-mq-r-t113", "allwinner,sun8i-t113s";

	chosen {
		stdout-path = "serial3:115200n8";
		bootargs = "root=/dev/mmcblk0p2 rootwait rw";
	};

	aliases {
		ethernet0 = &rtl8189ftv;
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
		serial5 = &uart5;
	};
};

&cpu0 {
	cpu-supply = <&reg_vcc_core>;
};

&cpu1 {
	cpu-supply = <&reg_vcc_core>;
};

&mmc1 {
	rtl8189ftv: wifi@1 {
		reg = <1>;
		interrupt-parent = <&pio>;
		interrupts = <6 10 IRQ_TYPE_LEVEL_LOW>; /* PG10 = WL_WAKE_AP */
		interrupt-names = "host-wake";
	};
};

&emac {
	pinctrl-names = "default";
	pinctrl-0 = <&rmii_pg_pins>;
	status = "okay";
	phy-mode = "rmii";
	phy-handle = <&ext_rmii_phy1>;
	/* phy-supply = <&reg_dc1sw>; */
};

&mdio {
	ext_rmii_phy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pg6_pins>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pc_pins>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pb_pins>;
	status = "okay";
};

&pio {
	/omit-if-no-ref/
	uart3_pc_pins: uart3-pc-pins {
		pins = "PC6", "PC7";
		function = "uart3";
	};

	uart5_pb_pins: uart5-pb-pins {
		pins = "PB4", "PB5";
		function = "uart5";
	};
};

&wdt {
	status = "okay";
};
